.button {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
}
.blue {
  background-color: #0163cb;
  color: #fff;
}

.black {
  background-color: #000;
  color: #fff;
}
